__pycache__
**/test.py
**/old/
/Images/
/.vscode/
*.mp4
/Traj_planning/Animation/
/Traj_planning/Videos/
/testing
/performance_estimation/
/notebooks/
**/plots.py
**/plots_compare.py
**/plots_controller.py
Traj_planning/examples/data/
Traj_planning/examples/plots/
pyproject.toml
/__backup__/
*.json
/hopper_traj.egg-info/
/build/
/dist/